# Ignora los archivos de la carpeta img
public/img/*

#Ignora la carpeta base de datos
Base de datos

#Ignora la carpeta pruebas
pruebas

#ignora la carpeta vendor de composer
vendor

#ignora los archivos json de composer
composer.json
composer.lock